name: Grade Assignment

on:
  pull_request_target:
    branches:
      - main

jobs:
  grade:
    permissions:
      issues: write
      pull-requests: write
    uses: HackYourFuture/github-actions/.github/workflows/auto-grade.yml@main
